body {
    height: 2000px;
    overflow-x: hidden;
    background-color: black;
}

.bg-img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.5);
    position: absolute;
    top: 0;
    left: 0;
}

.container {
    margin-top: 800px;
    text-align: center;

}