@font-face {
    font-family: 'Aesthetic';
    src: url(Fonts/Aesthetic-Regular.ttf);
}

@font-face {
    font-family: 'DIN';
    src: url(Fonts/DIN.ttf);
}

@font-face {
    font-family: 'DIN Med';
    src: url(Fonts/DIN\ Medium.ttf);
}

body {
    height: 1000px;
    overflow-x: hidden;
    background-color: black;
}

.bg-image {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    filter: brightness(0.5);
}

.container {
    margin-top: 1100px;
    text-align: center;
    font-size: xx-large;
}

.carousel {
    font-family: 'DIN Med';
  
}

.HSS {
    margin-top: 70px;
    text-align: center;
}

.Jarilo-VI {
    margin-top: 60px;
}

.TXL {
    margin-top: 60px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
  }